extends layout

block content
	.container
		.margin-top-20
			.container
				.panel.panel-default
					.panel-heading 
						h2 MEANSTACK
					.panel-body
						p MongoDB
						p Express
						p AngularJS
						p NodeJS