extends layout

block content
	.container
		.jumbotron.margin-top-20
			.container
				.panel.panel-default
					.panel-heading 
						h2 Connect To Me
					.panel-body
						p 
							a(href='https://www.facebook.com/nitin.reddy.9', target='_blank') Facebook
						p
							a(href='https://in.linkedin.com/in/nitin-reddy-79858842', target='_blank') LinkedIn