extends layout

block content
	.container
		.row
			form(method='post', action='contact/send')
				h1 Contact Us
				.form-group
					label Name
					input.form-control(type='text', name='name', placeholder='Name')
				.form-group
					label Email
					input.form-control(type='email', name='email', placeholder='Email')
				.form-group
					label Message
					textarea.form-control(name='message', placeholder='Message')
				button.btn.btn-default(type='submit') Submit			