extends layout

block content
	.container
		.jumbotron.margin-top-20
			.container
				.panel.panel-default
					.panel-heading 
						h2 Experience
					.panel-body
						p Built apps with MeteorJS
						p Hands on experience with ReactJS