extends layout

block content
	.container
		.margin-top-20
			.container
				.panel.panel-default
					.panel-heading 
						h2 Tech Lover and Happy Guy
					.panel-body
						p Tech lover by choice
						p Lives in Pune, India
						p Loves to explore new things
						p Family man	
