doctype html
html
    head
        title #{title}:NKR
        meta(charset='utf-8')     
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation 
                        span.icon-bar 
                        span.icon-bar 
                        span.icon-bar
                    a.navbar-brand(href='/') NITIN REDDY
                #navbar.collapse.navbar-collapse
                    ul.nav.nav-pills.nav-container
                        li(class=(title==='Home' ? 'active': ''))
                            a(href='/', class='link') Home
                        li(class=(title==='About' ? 'active': ''))
                            a(href='/about', class='link') About           
                        li(class=(title==='Skills' ? 'active': ''))
                            a(href='/skills', class='link') Skills
                        li(class=(title==='Experience' ? 'active': ''))
                            a(href='/experience', class='link') Experience
                        li(class=(title==='Work' ? 'active': ''))
                            a(href='/work', class='link') Work
                        li(class=(title==='Contact' ? 'active': ''))
                            a(href='/contact', class='link') Contact
    block content
