extends layout

block content
	.container
		.margin-top-20
			.container
				.panel.panel-default
					.panel-heading 
						h2 See My Work
					.panel-body
						p
							a(href='https://https://github.com/nitinreddy3', target='_blank') @GitHub
						p 
							a(href='https://chatnkrio.herokuapp.com/', target='_blank') Chat App
