extends layout

block content
	.container
		.jumbotron.margin-top-20
			.container
				h2 Apps using ExpressJS
					p
						a(href='https://chatnkrio.herokuapp.com/', target='_blank', class='link') Chat App
